@import 'assets/styles/functions.module.sass'

.dai
  width: pxToRem(50)
  margin-right: 0.3em
  margin: -10% 0

.dark
  width: pxToRem(35)

.withDai
  display: flex
  align-items: center
  margin: 0 auto
  justify-content: center