@import 'assets/styles/functions.module.sass'

.proposal
  max-width: pxToRem(400)

  &Title
    font-weight: bold
    font-size: 1.1em
    margin: 0.35em auto
  
  &Timer
    margin-bottom: 0

.votes
  &Title
    width: 100%
    margin-bottom: 0

  &Container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: pxToRem(25) auto
  
  &Bar
    width: 100%
    display: flex
    align-items: center
    border-radius: 2px
    overflow: hidden

    &Fill
      height: pxToRem(4)
      background: var(--c-picton-blue)

    &Yes
      background: var(--c-cyan)

  &Count
    color: var(--c-picton-blue)
    font-weight: bold

  &Yes
    color: var(--c-cyan)

.applicant
  font-weight: bold
  margin-bottom: 0

.buttons
  display: flex
  width: 100%
  justify-content: space-between
  margin-top: pxToRem(40)

  .button
    margin: 0
    background: var(--c-picton-blue)
    border-color: var(--c-picton-blue)

    &:hover
      background: transparent
      color: var(--c-picton-blue)

      path
        fill: var(--c-picton-blue)

  .yes
    background: var(--c-cyan)
    border-color: var(--c-cyan)
    color: var(--dark-bg)

    &:hover
      color: var(--c-cyan)

      path
        fill: var(--c-cyan)

    path
      fill: var(--dark-bg)
    
  svg
    max-width: 1.5em
    max-height: 1.5em

  path
    fill: var(--font-color)
    transition: 0.3s ease-in-out

.additional
  margin-top: pxToRem(20)
  font-size: 0.9em

  .title
    font-weight: bold
    margin-bottom: 0

  .link
    margin-top: 0.5em
    color: var(--accent-light)

    &:hover
      text-decoration: underline

  p
    margin: 0