@value accent, accent-plant, cTundora, font-color from 'assets/styles/variables.module.sass'
@import 'assets/styles/functions.module.sass'

.button
  color: var(--font-color)
  background-color: var(--accent-dark)
  border: 2px solid var(--accent-dark)
  font-weight: 500
  font-size: pxToRem(17)
  letter-spacing: 0.05em
  font-family: inherit
  text-transform: uppercase
  display: table
  margin: 0 auto
  padding: .65em 1.5em .65em
  border-radius: 2.5em
  min-width: 10em
  transition: all .3s ease-in-out
  cursor: pointer
  outline: none!important

  &:hover
    background-color: var(--font-color)
    color: var(--accent-dark)

  &[disabled]
    color: var(--font-color)!important
    background-color: #bbb!important
    border: 1px solid #bbb!important
    cursor: not-allowed!important
    
.white
  background-color: var(--font-color)
  color: var(--dark-bg)
  border: 1px solid var(--font-color)

  &:hover
    background-color: var(--dark-bg)
    color: var(--font-color)