@value accent from 'assets/styles/variables.module.sass'

.decks
  display: flex
  flex-wrap: wrap
  justify-content: center

.deck
  text-align: center
  max-width: 20rem
  margin: 0 1rem

  &Img
    max-width: 100%