@value accent from 'assets/styles/variables.module.sass'
@import 'assets/styles/functions.module.sass'

.member
  &Address
    max-width: 9em
    font-size: 0.85em
    font-style: italic

  p
    margin-bottom: 0

.data
  display: flex

  &Item
    text-align: center
    
    &:first-child
      margin-right: 1.5em
